body, html {
  height: 100%;
  font-family: 'Acme', sans-serif;
  	margin: 0;
	width: 100%;
	height: 100vh;
	color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;


}

.circle {
  width: 300px;
  height: 300px;
  margin: 4em 2em;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  -webkit-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75); 
}

.bg {
  background-image: url("hack.png");
  position: relative;
  height: 50%;
  opacity: 1;
  filter: alpha(opacity=70); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

div.polaroid {
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 10px;
  font-size: 22px;
}

.txt {
	font-size: 22px;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.con {
	width: 100%;
	position: absolute;
	top: 35%;
	text-align: center;
}
ml,body{
	font-size: 1em;
	line-height: 1.2em;
	font-family: 'Montserrat', sans-serif;
	background: #f8f8f8;
	color: #55555;
	margin:0;
	padding: 0;
	height: 100%
	width: 100%;
}
nav{
	text-align: centre;
	background-color: #dddddd;
	margin:0 0;
	width: 100%;
}
ul{
	width: 80%;
	padding: 0;
	margin: 0 auto;
}

li{
	box-sizing: border-box;
	list-style: none;
	display: inline-block;
	padding: 15px 20px;
	margin: 0px;
}

ul li a{
	color: #4C9CF1;
	text-decoration: none;
	font-weight: bold;
}

a:hover{
	color: #444444
}

li:hover{border-bottom: 1px solid #bbb;
 }

 .toggle{
 	background-color: #bbb;
 	width:100%;
 	padding: 5px 0 px;
 	text-align: center;
 	display: none;
 }

 .menu{
 	font-size: 20px;
 	margin: 10px 15px;
 }
 
 .menu:hover{
 	cursor:pointer;
 }
