body, html {
  height: 100%;
  font-family: 'Acme', sans-serif;
  margin: 0;
	width: 100%;
	height: 100vh;
	color: #fff;
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradientBG 15s ease infinite;


}

.circle {
  width: 120px;
  height: 120px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 99em;
  border-radius: 99em;
  -webkit-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75);
  box-shadow: 10px 10px 25px 0px rgba(0,0,0,0.75); 
}

.bg {
  background-image: url("hack.png");
  height: 50%;
  padding-top: 180px;
  filter: alpha(opacity=70); 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg .wrap-circle{
  margin-top:100px;
  height : 150px;
  width : 80%;
  margin : auto;
  display: flex;
  justify-content: space-around;
}
div.polaroid {
  width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  padding: 10px;
  font-size: 22px;
}

.txt {
	font-size: 22px;
}

@keyframes gradientBG {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

.con {
	width: 100%;
	position: absolute;
	top: 35%;
	text-align: center;
}

@media screen and (max-width:700px){
  .circle{
    height : 80px;
    width : 80px;
  }
  .bg .wrap-circle{
    width : 90%;
  }
}

@media screen and (max-width:500px){
  .circle{
    height : 50px;
    width : 50px;
  }
  .bg .wrap-circle{
    width : 95%;
    justify-content: space-between;
  }
}